Import required libraries:

In [143]:
import requests
import json
import os
import pandas as pd

### Set SCRAPE=True in order to download the data from FB

In [144]:
SCRAPE = False

Define a function to return an empty list if string is not JSON formatted:

In [145]:
def read_json(path):
    try:
        return json.loads(open(path, "r").read())
    except json.decoder.JSONDecodeError:
        return []

Try to read "posts.json". If it does not exist, create it.

In [146]:
try:
    posts = read_json("posts.json")
except FileNotFoundError:
    f = open("posts.json", "w")
    f.close
    posts = []

Create a supplemental function to simplify API

In [147]:
def get(url_):
    return json.loads(requests.get(url_).text)

def post_exists(post_id):
    return len(list(filter(lambda x: x['id'] == post_id, posts))) > 0

Define gruop ID variables:

In [148]:
TECHNION_CONFESSIONS_ID = "134517547222780"
TAU_CONFESSIONS_ID = "561380070875128"
IDC_CONFESSIONS_ID = "199527394120566"

Authenticate to Graph API:

In [149]:
# TOKEN = "EAACEdEose0cBAEIYEOmJ51kfOHPinwL2ychqVpFT0D9ezMjfe1pMKyH0lP2ZA9RuZBH3wQeJ0EfEboHEqDqy7Gq8PSjIcHgNv1lRyC3ZBMk0CdbdzWckHsqNTRatwPZBvkMBfic2P1jwg5vZAZCHKbHdvFfMjjsHGjeVsY7AqEbpWiUBEb0d1zsKJgJwQw3wTWs6ZBb4WSOOQZDZD"

s = "6cc937f2a9dbc9df92600f365c777d1a"
i = "652869818252649"
u = "https://graph.facebook.com/oauth/access_token?client_id={id}&client_secret={secret}&grant_type=client_credentials"

TOKEN = get(u.format(id=i, secret=s))['access_token']

Setup Graph API host and API node:

In [150]:
HOST = "https://graph.facebook.com/"
API_NODE = "v2.12/"

Declare custom node - in this case, the 'Technion Confessions' group feed:

In [151]:
TECHNION_CONFESSIONS_NODE = "{}/feed".format(TECHNION_CONFESSIONS_ID)
TAU_CONFESSIONS_NODE = "{}/feed".format(TAU_CONFESSIONS_ID)
IDC_CONFESSIONS_NODE = "{}/feed".format(IDC_CONFESSIONS_ID)

PAGES = [
    (TECHNION_CONFESSIONS_NODE, "TECHNION"),
    (TAU_CONFESSIONS_NODE, "TAU"),
    (IDC_CONFESSIONS_NODE, "IDC"),
]

Build the requested URL - should be the same for the most of the calls:

In [152]:
def build_url(node):
    return HOST + API_NODE + node + "?access_token={}".format(TOKEN)

## ! Edit the algorithm to add new posts - aka continue from the last post on

The main post scraping function:

In [153]:
def get_posts(url, origin):
    res = get(url)
    if 'data' in res:
        for post in res['data']:
            if not post_exists(post['id']):
                post['origin'] = origin
                posts.append(post)
    if 'paging' in res:
        if 'next' in res['paging']:
            return get_posts(res['paging']['next'], origin)

If SCRAPE, the script will fill "posts.json" with the posts:

In [154]:
if SCRAPE:
    for node, name in PAGES:
        get_posts(build_url(node), name)
    with open("posts.json", "w") as f:
        f.write(json.dumps(posts))

Show the head of the posts table:

In [155]:
df = pd.read_json(open("posts.json", "r").read())
df.head()

,created_time,id,message,origin,story
0,2018-02-12 08:15:17,1.345175e+29,#2273 הדבר שהכי מלחיץ אותי הוא הסמינר שאקח בסמ...,TECHNION,NaN
1,2018-02-12 08:14:31,1.345175e+29,"#2272 סמסטר חורף קודם, ירדתי לכיוון נשר מאולמן...",TECHNION,NaN
2,2018-02-12 08:12:20,1.345175e+29,"#2271 בדרך כלל אני בן אדם מאוד שמח, או שזה מה ...",TECHNION,NaN
3,2018-02-12 08:08:57,1.345175e+29,#2270 אני מוכן להיות אבא כבר מגיל 14. תמיד חלמ...,TECHNION,NaN
4,2018-02-12 08:07:29,1.345175e+29,#2269 אני בת 26 והדייט המושלם לדעתי הוא פשוט ל...,TECHNION,NaN

In [166]:
df["id"] = df["message"].str.findall("(#+\d+){1}").str.get(0)
df["reply_to"] = df["id"] = df["message"].str.findall("(#+\d+){1}").str.get(1)
df

,created_time,id,message,origin,story,reply_to
0,2018-02-12 08:15:17,NaN,#2273 הדבר שהכי מלחיץ אותי הוא הסמינר שאקח בסמ...,TECHNION,NaN,NaN
1,2018-02-12 08:14:31,NaN,"#2272 סמסטר חורף קודם, ירדתי לכיוון נשר מאולמן...",TECHNION,NaN,NaN
2,2018-02-12 08:12:20,NaN,"#2271 בדרך כלל אני בן אדם מאוד שמח, או שזה מה ...",TECHNION,NaN,NaN
3,2018-02-12 08:08:57,NaN,#2270 אני מוכן להיות אבא כבר מגיל 14. תמיד חלמ...,TECHNION,NaN,NaN
4,2018-02-12 08:07:29,NaN,#2269 אני בת 26 והדייט המושלם לדעתי הוא פשוט ל...,TECHNION,NaN,NaN
5,2018-02-12 08:04:56,NaN,"#2268 יש לי חבר שהוא איטי יותר בהבנה, הבעיה הי...",TECHNION,NaN,NaN
6,2018-02-12 08:03:34,NaN,#2267 לפני כמה ימים יצאתי עם בחורה שמוצאת חן ב...,TECHNION,NaN,NaN
7,2018-02-12 08:01:57,NaN,#2266 באסה שאני לא יכולה להגיע לטכניון בפיג׳מה...,TECHNION,NaN,NaN
8,2018-02-12 08:00:45,NaN,#2265 אני קנאית בטירוף וזה משגע אותי. לחבר שלי...,TECHNION,NaN,NaN
9,2018-02-12 07:59:23,NaN,"#2264 במקום ללמוד נכנסתי לכתבות על ""איך לענג א...",TECHNION,NaN,NaN
10,2018-02-12 07:58:17,NaN,"#2263 היה לי ידיד ממש טוב בתחילת התואר, עד שפע...",TECHNION,NaN,NaN
11,2018-02-12 07:56:55,NaN,#2262 סבא שלי נפטר השבוע אחרי ששהה חודש בבית א...,TECHNION,NaN,NaN
12,2018-02-12 07:55:20,NaN,"#2261 ""אני חושב שכדאי שלא נשכב ישר, אני פשוט מ...",TECHNION,NaN,NaN
13,2018-02-12 07:54:28,NaN,#2260 בשנה האחרונה התחלתי להקריח במפרצים. המרא...,TECHNION,NaN,NaN
14,2018-02-12 07:52:34,NaN,#2259 אני תומכת בחברי כל הזמן וכיף לי לראות או...,TECHNION,NaN,NaN
15,2018-02-12 07:51:22,NaN,#2258 לפעמים גם בתקופת המבחנים אני לומד שעה-שע...,TECHNION,NaN,NaN
16,2018-02-12 07:50:31,NaN,#2257 אני גר בעוטף עזה ויש לי פוסט טראומה מעופ...,TECHNION,NaN,NaN
17,2018-02-12 07:49:21,NaN,#2256 השותף שלי לפעמים לוקח לי אוכל ולא מודה כ...,TECHNION,NaN,NaN
18,2018-02-12 07:48:47,NaN,#2255 אני אישה עצמאית וחזקה. יש לי דעה לגבי הכ...,TECHNION,NaN,NaN
19,2018-02-12 07:45:54,NaN,#2254 כבר שנים שאני מקיימת יחסי מין. לפעמים עם...,TECHNION,NaN,NaN
20,2018-02-12 07:44:45,NaN,"#2253 זה הכי דבילי וצרות עולם ראשון בעולם, אבל...",TECHNION,NaN,NaN
21,2018-02-12 07:44:19,NaN,"#2252 לפני שהגעתי לטכניון, חשבתי שיצא לי להכיר...",TECHNION,NaN,NaN
22,2018-02-12 07:43:51,NaN,#2251 היה לי סטוץ שהפך ליזיזות קצרה בסוף השנה ...,TECHNION,NaN,NaN
23,2018-02-12 07:43:13,NaN,"#2250 אני לא סובלת חזיות, הלוואי שאפשר היה לצא...",TECHNION,NaN,NaN
24,2018-02-12 07:42:48,NaN,#2249 אני רוצה להחליף שותפה בשנה הבאה. החוזה ש...,TECHNION,NaN,NaN
25,2018-02-12 07:42:06,NaN,"#2248 חשבתי שאני בן אדם חזק, עד שלקוחה אחת צעק...",TECHNION,NaN,NaN
26,2018-02-12 07:41:36,NaN,"#2247 אין לי כוח לראות את חברה שלי, אז אמרתי ל...",TECHNION,NaN,NaN
27,2018-02-12 07:41:00,NaN,#2246 אני רוצה להתחתן!\nיש לי בן זוג שאני מאוה...,TECHNION,NaN,NaN
28,2018-02-12 07:40:14,NaN,#2245 תמיד כשאני הולך ברחוב ורואה חתול אני מרג...,TECHNION,NaN,NaN
29,2018-02-12 07:39:26,NaN,#2244 אמא שלי מפחדת להשאר בבית לבד בשעות החשכה...,TECHNION,NaN,NaN
...,...,...,...,...,...,...
2434,2018-01-31 20:45:29,NaN,#32 בכל שנה אני נרשם לתור לאילת הבינתחומי ולא ...,IDC,NaN,NaN
2435,2018-01-31 20:45:07,NaN,#31 זה לא אישי אבל אני שונא את אריה בן חניון,IDC,NaN,NaN
2436,2018-01-31 18:19:22,NaN,#30 לפעמים באקוואריום אני שם אוזניות בלי מוזיק...,IDC,NaN,NaN
2437,2018-01-31 17:30:00,NaN,#29 בשבוע היכרות בשנה א' סיפרו לנו על המרפסת ב...,IDC,NaN,NaN
2438,2018-01-31 15:30:01,NaN,#27 אני מקווה שהחתול הג'ינג'י המגעיל הלך לעולמ...,IDC,NaN,NaN
2439,2018-01-31 14:30:01,NaN,#26 יש לנו מישהו במסלול שזוכר את התעודות זהות ...,IDC,NaN,NaN
2440,2018-01-31 12:00:01,NaN,"#25 כשהולך לי חרא במבחנים במדמ""ח אני נזכר שיש ...",IDC,NaN,NaN
2441,2018-01-31 11:00:00,NaN,#24 אין דרך נעימה להודות שאתה מגיע לבינתחומי ב...,IDC,NaN,NaN
2442,2018-01-31 10:00:01,NaN,#23 לפעמים אני שוכח שהורדתי נעליים בספריה ומוצ...,IDC,NaN,NaN
2443,2018-01-30 19:00:00,NaN,#22 תמיד תהיתי אם בנים שהולכים ללמוד פסיכולוגי...,IDC,NaN,NaN
2444,2018-01-30 18:00:01,NaN,#21 https://i.imgur.com/vUZ2FCt.png\nזה אני.,IDC,NaN,NaN
2445,2018-01-30 17:00:01,NaN,#20 חבר שלי ואני הלכנו רחוק (הכי רחוק..) בחדר ...,IDC,NaN,NaN
2446,2018-01-30 15:00:51,NaN,"#19 אני לא הולכת לאילת הבינתחומי, יש לי סקס בב...",IDC,NaN,NaN
2447,2018-01-30 14:00:07,NaN,#18 בכל פעם שאני עולה לחרבן בשירותי הסגל בקומה...,IDC,NaN,NaN
2448,2018-01-30 13:00:04,NaN,#17 אני נוהג להאזין לשיחות של דוברי ספרדית בק...,IDC,NaN,NaN
2449,2018-01-30 11:00:03,NaN,#16 אני אוהב לחרבן בשירותי נכים. זה מרגיש כאיל...,IDC,NaN,NaN
2450,2018-01-29 23:00:42,NaN,#11 לפעמים אני הולך לניסויים בפסיכולוגיה רק כד...,IDC,NaN,NaN
2451,2018-01-29 18:33:44,NaN,#7 הסתננתי לטקס מצטיינים של בית ספר למשפטים בש...,IDC,NaN,NaN
2452,2018-01-29 16:49:48,NaN,#6 לפעמים אני אומרת בקול רם שאני לומדת במכללה,IDC,NaN,NaN
2453,2018-01-29 13:37:00,NaN,#9 אני בכלל לא אוהב סניידרס אבל זה בחינם,IDC,NaN,NaN
2454,2018-01-29 13:15:00,NaN,#14 אני נוהג להחביא את הכוסות החד פעמיים בפינו...,IDC,NaN,NaN
2455,2018-01-29 12:07:15,NaN,#5 הצטרפתי לקבוצת טרמפים רק בשביל הסיכוי למצוא...,IDC,NaN,NaN
2456,2018-01-29 10:15:00,NaN,#10 פעם העברתי כרטיס למסיבה למרות שהוא אישי וא...,IDC,NaN,NaN
2457,2018-01-28 17:56:46,NaN,#4 חלום שלי לעשות סקס באקווריום,IDC,NaN,NaN
2458,2018-01-28 17:33:31,NaN,"#3 I try to remember people I don't like, so s...",IDC,NaN,NaN
2459,2018-01-28 17:14:05,NaN,#2 אני די אוהב את האוכל בקרנף,IDC,NaN,NaN
2460,2018-01-27 20:24:34,NaN,"#1 לפעמים כשאני רעב, אני מעמיס סלטים מהעמדה בק...",IDC,NaN,NaN
2461,2018-01-27 19:30:41,NaN,"כדי להמנע מבלבול, הנה הסבר קצר על הדף:\nמדובר ...",IDC,NaN,NaN
2462,2018-01-27 18:40:23,NaN,NaN,IDC,IDC Confessions updated their profile picture.,NaN
2463,2018-01-27 18:29:25,NaN,NaN,IDC,IDC Confessions updated their cover photo.,NaN

Get the IDs

Get ID of the posts that the post is replying to

Get the posts likes

Get the comments of the posts

Get the likes for each comment

Get the comments for each comment

Get the name of the commenter (for each comment or reply)

Get the commenter gender